<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/responsive.css')}}">

<!-- ChatBot -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery.convform.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.convform.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/custom.js')}}"></script>

</head>
<body>
<!-- ChatBot -->
<div class="chat_icon">
	<i class="fa fa-comments" aria-hidden="true"></i>
</div>

<div class="chat_box">
	<div class="my-conv-form-wrapper">
		<form action="" method="GET" class="hidden">
            <input type="text" data-conv-question={{contents}} data-no-answer="true">
            <select data-conv-question="quelle votre demande " name="category">
                <option value="demande materiel">demande materiel</option>
                <option value="assistance">demande assistance</option>
		        <option value="repartition materiel">repartition materiel</option>

            </select>

            <div data-conv-fork="category">
               <div data-conv-case="demande materiel">
					<select name="cartidgeconsumable" data-conv-question="il s agit de :">
						<option value="cartidge">cartidge</option>
						<option value="consumable">consumable</option>
						
					</select>
					<div data-conv-fork="cartidgeconsumable">
						<div data-conv-case="cartidge">
							 <input type="text" name="message" data-conv-question="Merci de specifier votre demande" >
						</div>
						<div data-conv-case="consumable">
							<input type="text" data-conv-question=" Merci de specifier votre demande" data-no-answer="true">
							<select data-conv-question="OBTENEZ LA RÉPONSE">
								<option value="Yes">OBTENEZ LA RÉPONSE</option>
						 
							</select>
						</div>
						
						    
							
					</div>
		        </div>
            </div>
            <div data-conv-fork="category">
                <div data-conv-case="repartition materiel">
           
                     <input type="text" data-conv-question="Veuillez creer une ticket en specifiant le type de panne affiché" data-no-answer="true"> 
           
      				<select data-conv-question="avez vous une autre demande ?">
       					 <option value="Yes">OUI</option>
						 
						 <option value="NO">NON</option>
      				</select>
					
                     
                 </div>
            </div>
			<div data-conv-fork="category">
                <div data-conv-case="assistance">
           
					<select name="abc" data-conv-question="il s agit de :">
						<option value="a">installation logiciel</option>
						<option value="b">installation iprimente</option>
						<option value="c">fonctionnement logiciel</option>
					</select>
						<div data-conv-fork="abc">
							<div data-conv-case="a">
							 	<input type="text" data-conv-question="Merci de specifier le logiciel dans un ticket" data-no-answer="true">
								 <select data-conv-question="avez vous une autre demande ?">
									<option value="Yes">OUII</option>
							 
							 		<option value="NO">NON</option>
						  		</select>
							</div>
							<div data-conv-case="b">
								<input type="text" data-conv-question=" Merci de specifier l adresse ip" data-no-answer="true">
								<select data-conv-question="avez vous une autre demande ?">
									<option value="Yes">OUII</option>
							 
							 		<option value="NO">NON</option>
						  		</select>
					   		</div>
					   		<div data-conv-case="c">
								<input type="text" data-conv-question="Merci de specifier le type d erreu dans un ticket" data-no-answer="true">
								<select data-conv-question="avez vous une autre demande ?">
									<option value="Yes">OUII</option>
							 
							 		<option value="NO">NON</option>
						  		</select>
				   			</div>
							   
						</div>
					
                     
                 </div>
            </div>

  	    </form>
	</div>
</div>
<!-- ChatBot end -->

<header class="header">
	<div class="container-fluid">
		
	</div>
</header>	

<div class="banner d-flex align-items-center" style="background-image: url('images/banner.jpg');" id="home">
	
</div>			





<script type="text/javascript">
	portfolioList = document.querySelectorAll('.portfolio-box');
	portfolioList.forEach(function(portfolioPic) {
		portfolioPic.addEventListener('click',function(){
			bg = this.style.backgroundImage;
			document.getElementById('port_pop_pic_bg').classList.add("active")
			document.getElementById('port_pop_pic').style.backgroundImage = bg
			document.getElementById('port_pop_pic').classList.add("active")
		});	
	})
	document.getElementById('port_pop_pic_bg').addEventListener('click',function(){
			document.getElementById('port_pop_pic_bg').classList.remove("active")
			document.getElementById('port_pop_pic').classList.remove("active")
	})
</script>

</body>
</html>